body {
  background-color: white;
  color: black;
}

#app-header {
  background-color: blue;
  color: white;
  padding:20px;
  font-size: 24px;
}

#app-container {
  padding: 20px;
}

#app-container .control {
  height: 30px;
  width: 200px;
}

.label {
  width: 200px;
  float:left;
}

.input-container {
  height:50px;
}
